                            <th>Title</th>
                            <th>Artist</th>
                            <th>Time Signature</th>
                            <th>BPM</th>
                            <th>Capo</th>
                            <th>Actions</th>
                                <td>{{ song.title }}</td>
                                <td>{{ song.artist }}</td>
                                <td>{{ song.time_signature }}</td>
                                <td>{{ song.bpm }}</td>
                                <td>{{ song.capo }}</td>
                                <td> 